<!DOCTYPE html>
<html>
<head>
  <title>Class Times</title>
</head>
<body>
<table>
  <tr>
    <th>Time</th>
    <th>Class</th>
  </tr>
  <tr>
    <td>9:00am</td>
    <td>Science</td>
  </tr>
</table>
</body>
</html>